li {
  list-style: none;
}

p {
  margin: 0;
}

div.user-data {
  padding: 20px;
  display: inline-block;
  background: #f3f3f3;
}

img, div {
  margin: 10px;
  vertical-align: text-bottom;
  border-radius: 5px;
}
