<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Sigrid's api consumption!
  </h1>
</div>
<div>
  <h2>User list: </h2>
  <ul *ngIf="users">
    <li *ngFor="let user of users" (click)="selectUser(user.id)">
      <img [src]="user.avatar">
      <div class="user-data">
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
      </div>
    </li>
  </ul>
    <button (click)="pagPrev()">Previous</button>
  <button (click)="pagNext()">Next</button>
</div>

<div>
  <h2>User detail:</h2>
  <div *ngIf="selectedUser; else noUser">
    <img [src]="selectedUser.avatar">
    <div class="user-data">
      <p>First Name: {{selectedUser.first_name}}</p>
      <p>Last Name: {{selectedUser.last_name}}</p>
    </div>
  </div>
  <ng-template #noUser>
    <p>No user selected</p>
  </ng-template>
</div>

